Source: nvidia-tesla-modules
Section: non-free/kernel
Priority: optional
Maintainer: Scibian Project <packaging@scibian.org>
Uploaders:
 Russ Allbery <rra@debian.org>,
 Andreas Beckmann <anbe@debian.org>,
 Vincent Cheng <vcheng@debian.org>
Build-Depends: debhelper (>= 9),
 linux-headers-4.9.0-12-amd64 [amd64],
 nvidia-kernel-source (>= 418.56), nvidia-kernel-source (<< 418.56.~),
Standards-Version: 3.9.6
Homepage: http://www.nvidia.com/
Vcs-Git: https://github.com/scibian/nvidia-tesla-modules.git
Vcs-Browser: https://github.com/scibian/nvidia-tesla-modules
XS-Autobuild: yes

Package: nvidia-kernel-dummy
Architecture: amd64
Priority: extra
Depends: nvidia-kernel-source (>= 418.56), ${misc:Depends}
Description: NVIDIA kernel module for Linux 2.6 (dummy package)
 This dummy package exists solely to ensure that the prebuilt modules do not
 migrate to testing before the corresponding driver is available. Nothing is
 done to prevent the other way around, i.e. an updated driver without prebuilt
 modules available is allowed to enter testing.
 .
 It is not needed to install this package on any machine.

Package: nvidia-kernel-amd64
Architecture: amd64
Depends: ${misc:Depends}, nvidia-kernel-4.9.0-12-amd64 (>= 418.56)
Conflicts: nvidia-kernel-2.6-amd64
Replaces: nvidia-kernel-2.6-amd64
Description: NVIDIA kernel module for Linux (amd64 flavor)
 This is a metapackage that will depend on the latest version of the
 NVIDIA kernel module for the Linux kernel series (amd64 flavor).
 Install this package to automatically install the latest NVIDIA module
 when new versions of the kernel are released.

Package: nvidia-kernel-4.9.0-12-amd64
Architecture: amd64
Depends: ${misc:Depends}
Description: NVIDIA binary kernel module (amd64 flavor)
 This is a dummy control entry (amd64 flavor).
 The description in the final package will come from its control.template.
